*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    margin-top:2em ;
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 2em;
}

.violet{
    margin-bottom: 2em;
}

.logo{
    height: 100px;
}

ul{
    list-style: none;
    margin-left: 0%;
}

li{
    display: inline-block;
    padding: .5em;
    margin-left: 0%;
}

a{
    text-decoration: none;
    color: lightgray;
}

.banner{
    background-image: url(../img/banner.jpg);
    height: 27rem;
    margin-bottom: 2em;
    border-radius: 5px;
    border-bottom: 5px;
    color: white; 
    background-position: center;
    background-size: initial;
}

.text{
    position: relative;top: 18rem;left: 3rem;
}

.gray{
    color: lightgray;
}

.h2{
    padding-bottom: 1em;
}

.container .clearfix{
    max-width: auto;
    height: 300px;
    margin: 0;
    border: 10px solid red;
}

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
}

.box{
    float: left;
}
.box1{
    width: 20%;
    height: 250px;
    background-image: url(../img/img-1.jpg);
    background-size: contain;
}

.box2{
    width: 60%;
    height: 250px;
    background-image: url(../img/banner-2.jpg);
    background-size: contain;
    background;
}

.box3 {
    width: 20%;
    height: 250px;
    background-image: url(../img/img-3.jpg);
    background-size: contain;
}

.footerx{
    background-color:  rgb(124, 43, 244);
    width: 100%;
    height: 4em;margin-top: 1em;
    text-align:center ;
}